# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
TRELLO_DEVELOPER_API_KEY=trello-developer-api-key
TRELLO_TOKEN=trello-token
TRELLO_BOARD_ID=trello-board-id
TRELLO_TODO_LIST_ID=trello_todo_list_id
TRELLO_DOING_LIST_ID=trello_doing_list_id
TRELLO_DONE_LIST_ID=trello_done_list_id